<div class="content mt-4 text-center">
    <h3>
        Welcome to Dashboard
    </h3>

    <div *ngFor="let document of promoCodeList">
        {{document.title}} | {{document.discount}}
    </div>

    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Discount</th>
                <th scope="col">DiscountType</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let code of promoCodeList">
                <td>{{code.title}}</td>
                <td>{{code.discount}}</td>
                <td>{{code.discountType}}</td>
            </tr>
        </tbody>
    </table>
</div>